<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<main layout:fragment="page">
    <div class="container" id="editClaim">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Modifier la réclamation {{ form.model.title }}</div>
            </div>
            <div class="panel-body">
                <form class="post-form" v-on:submit.prevent="saveClaim" v-on:keydown="
                        form.errors.clear($event.target.name)" enctype="multipart/form-data">
                    <div class="form-group" v-bind:class="{'has-error': form.errors.get('titre')}">
                        <label for="title" class="control-label">Titre</label>
                        <div>
                            <input id="title" v-model="form.model.titre" type="text" class="form-control" />
                            <span class="help-block"><strong v-text="form.errors.get('titre')"></strong> </span>
                        </div>
                    </div>
                    <div class="form-group" v-bind:class="{'has-error': form.errors.get('type')}">
                        <label for="title" class="control-label">Type</label>
                        <div>
                            <select id="title" v-model="form.model.type" type="text" class="form-control">
                                <option>Immeuble</option>
                                <option>Villa</option>
                                <option>Etage de villa</option>
                                <option>Garage</option>
                                <option>Cloture</option>
                                <option>Autres...</option>
                            </select>
                            <span class="help-block"><strong v-text="form.errors.get('type')"></strong> </span>
                        </div>
                    </div>
                    <div class="form-group" v-bind:class="{'has-error': form.errors.get('planification')}">
                        <label class="control-label">Planification</label>
                        <div>
                            <div class="btn-radio">
                                <input type="radio" value="true" id="f-option"
                                       v-model="form.model.planification"/>
                                <label for="f-option">Oui</label>
                                <div class="check"></div>
                            </div>
                            <div class="btn-radio">
                                <input type="radio" value="false" id="g-option"
                                       v-model="form.model.planification"/>
                                <label for="g-option">Non</label>
                                <div class="check"></div>
                            </div>
                            <span class="help-block"><strong v-text="form.errors.get('planification')"></strong> </span>
                        </div>
                    </div>
                    <div class="form-group" v-bind:class="{'has-error': form.errors.get('etat_avancement')}">
                        <label for="etat_avancement" class="control-label">Etat d'avancement de la
                            construction</label>
                        <div>
                            <div class="input-group">
                                <input v-model="form.model.etat_avancement" id="etat_avancement"
                                       class="form-control"
                                       type="text"/>
                                <span class="input-group-addon">%</span>
                            </div>
                            <span class="help-block"><strong
                                    v-text="form.errors.get('etat_avancement')"></strong> </span>
                        </div>
                    </div>
                    <div class="form-group" v-bind:class="{'has-error': form.errors.get('epannelage')}">
                        <label for="epannelage" class="control-label">Epannelage</label>
                        <div>
                            <select id="epannelage" v-model="form.model.epannelage" type="text"
                                    class="form-control">
                                <option>Rez de chaussée</option>
                                <option>R+1</option>
                                <option>R+2</option>
                                <option>R+3</option>
                                <option>R+4</option>
                                <option>R+5</option>
                                <option>Autres...</option>
                            </select>
                            <span class="help-block"><strong v-text="form.errors.get('type')"></strong> </span>
                        </div>
                    </div>
                    <div class="form-group" v-bind:class="{'has-error': form.errors.get('description')}">
                        <label for="description" class="control-label">Description</label>
                        <div>
                                    <textarea v-model="form.model.description" id="description"
                                              class="form-control"></textarea>
                            <span class="help-block"><strong v-text="form.errors.get('description')"></strong> </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="show-claim_photos">
                            <ul>
                                <li v-for="photo in claim.photos">
                                    <button v-on:click="deletePhoto(photo.id)" class="btn btn-danger"><i
                                            class="fa fa-trash"></i></button>
                                    <img :src="photo.thumbnail_path_url" />
                                </li>
                            </ul>
                        </div>
                        <div id="dzone" class="dropzone">
                            <div class="dropzone-previews"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary"><i class="fa fa-save"></i> Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<th:block layout:fragment="script">
    <script type='text/javascript' th:src="@{/js/editClaim.js}"></script>
</th:block>
</html>