<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<main layout:fragment="page">
    <div id="claims">
        <div class="container claims">
            <div class="row">
                <div class="col-md-3 form-group">
                    <label for="title" class="col-md-4 control-label">Type</label>
                    <div class="col-md-8">
                        <select id="title" v-on:change="getClaims" v-model="type" type="text" class="form-control">
                            <option>Tous</option>
                            <option>Immeuble</option>
                            <option>Villa</option>
                            <option>Etage de villa</option>
                            <option>Garage</option>
                            <option>Cloture</option>
                            <option>Autres...</option>
                        </select>
                        <span class="help-block"><strong></strong> </span>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label class="col-md-4 control-label">Planification</label>
                    <div class="col-md-8">
                        <input v-on:click="getClaims" v-model="planification" type="radio" value="true" id="f-option"
                        />
                        <label for="f-option">Oui</label>
                        <div class="check"></div>
                        <input v-on:click="getClaims" v-model="planification" type="radio" value="false" id="g-option"
                        />
                        <label for="g-option">Non</label>
                        <div class="check"></div>
                        <span class="help-block"><strong></strong> </span>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label for="etat_avancement" class="col-md-7 control-label">Etat d'avancement de la
                        construction</label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <input id="etat_avancement"
                                   class="form-control"
                                   v-model="etat_avancement"
                                   v-on:keyup="getClaims"
                                   type="text"/>
                            <span class="input-group-addon">%</span>
                        </div>
                        <span class="help-block"><strong
                        ></strong> </span>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label for="epannelage" class="col-md-4 control-label">Epannelage</label>
                    <div class="col-md-8">
                        <select v-on:change="getClaims" v-model="epannelage" id="epannelage" type="text"
                                class="form-control">
                            <option>Rez de chaussée</option>
                            <option>R+1</option>
                            <option>R+2</option>
                            <option>R+3</option>
                            <option>R+4</option>
                            <option>R+5</option>
                            <option>Autres...</option>
                        </select>
                        <span class="help-block"><strong></strong> </span>
                    </div>
                </div>
            </div>
            <div v-if="claims.length > 0" class="row" v-for="row in chunkedClaims">
                <div class="col-md-3" v-for="claim in row">
                    <div class="claim">
                        <div class="claim_photos">
                            <img v-if="claim.photos[0]" :src="claim.photos[0].thumbnail_path_url"/>
                        </div>
                        <div class="claim_content">
                            <div class="claim_title"><a :href="'/claims/'+claim.id" v-text="claim.titre"></a></div>
                            <div class="claim_infos">
                                <div class="infos">
                                    <i class="fa fa-user"></i> {{ claim.user.name }} |
                                    <i class="fa fa-clock-o"></i> {{ claim.updated_at }}
                                </div>
                            </div>
                        </div>
                        <div class="claim_footer">
                            <div class="claim_status">
                                <div class="bg-success" v-if="claim.feature.status === 'validée'">
                                    <i class="fa fa-check"></i> {{ claim.feature.status }}
                                </div>
                                <div class="bg-danger" v-if="claim.feature.status === 'annulée'">
                                    <i class="fa fa-close"></i> {{ claim.feature.status }}
                                </div>
                                <div class="bg-info" v-if="claim.feature.status === 'En instance'">
                                    <i class="fa fa-hourglass-start"></i> {{ claim.feature.status }}
                                </div>
                            </div>
                            <div class="dropup" v-if="isAdmin || isAgent">
                                <button class="btn dropdown-toggle" type="button"
                                        data-toggle="dropdown"><i
                                        class="fa fa-bars"></i></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a :href="'/claims/'+claim.id+'/edit'"
                                           v-if="isAdmin || isAgent || claim.user.id ==user.id"
                                           class="btn btn-sm"><i class="fa fa-edit"></i> Modifier</a></li>
                                    <li><a :href="'/claims/'+claim.id+'/destroy'"
                                           v-if="isAdmin || isAgent || claim.user.id ==user.id"
                                           class="btn btn-sm"><i class="fa fa-trash"></i> Supprimer</a></li>
                                    <li>
                                        <div class="claim_params" v-if="isAdmin || isAgent">
                                            <button v-on:click="validateFeature(claim)"
                                                    v-if="claim.feature.status == 'annulée'"
                                                    class="btn btn-success btn-sm"><i class="fa fa-check"></i>
                                                Valider
                                            </button>
                                            <button v-on:click="validateFeature(claim)"
                                                    v-if="claim.feature.status == 'En instance'"
                                                    class="btn btn-success btn-sm"><i class="fa fa-check"></i>
                                                Valider
                                            </button>
                                            <button v-on:click="cancelFeature(claim)"
                                                    v-if="claim.feature.status == 'En instance'"
                                                    class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>
                                                Annuler
                                            </button>
                                            <button v-on:click="cancelFeature(claim)"
                                                    v-if="claim.feature.status == 'validée'"
                                                    class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>
                                                Annuler
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="claims.length == 0" class="no-data">
                Pas de réclamations pour le moment
            </div>
        </div>
    </div>
</main>

<th:block layout:fragment="script">
    <script type='text/javascript' th:src="@{/js/claims.js}"></script>
</th:block>
</html>