.navbar-top {
  height: 128px;
  background: $secondary-color url("../images/bg-map.png") no-repeat top center !important;
  .map-bg {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 128px;
  }
  .navbar-header {
    height: 100%;
    display: flex;
    align-items: center;
    .navbar-brand {
      height: 100%;
      display: flex;
      align-items: center;
      img {
        height: 110px;
      }
    }
  }
}

.navbar {
  background-color: $secondary-color !important;
  border-bottom: 3px solid $primary-color !important;
  font-family: 'Titillium Web', sans-serif;
  .navbar-nav {
    li {
      a {
        color: white !important;
      }
      a:hover{
        background-color: lighten($secondary-color,5%) !important;
      }
    }
    li.active {
      a{
        background-color: lighten($secondary-color,5%);
        color: white;
        border-top: 3px solid $primary-color;
        margin-top: -3px;
      }
      a:hover {
        border-bottom: none;
      }
    }
    li.open {
      a.dropdown-toggle, a:active.dropdown-toggle, a:focus.dropdown-toggle, a:hover.dropdown-toggle {
        color: white;
        background-color: transparent;
      }
    }
    li.dropdown {
      a.dropdown-toggle {
        color: white;
      }
      .dropdown-menu {
        padding: 0;
        border: none;
        li {
          margin: 0;
          a {
            color: $secondary-color !important;
            padding: 8px 25px;
            border-bottom: 1px solid lighten(#dddddd, 5%);
          }
          a:hover {
            color: $primary-color !important;
            background-color: transparent !important;
          }
        }
        li.active {
          a, a:active, a:focus, a:hover {
            background-color: $primary-color !important;
            color: white !important;
            border-top: none !important;
          }
        }
      }

    }
  }
}


// Responsive

@media (max-width: 768px) {
  .navbar {
    .navbar-nav {
      li.active {
        a{
          background-color: $primary-color;
          color: white;
          border-top: none;
        }
      }
      li.dropdown {
        .dropdown-menu {
          li {
            a {
              color: white !important;
              border-bottom:none;
            }
          }
        }

      }
    }
  }

}