<footer th:fragment="footer">
    <div id="bottom">
        <div class="container">
            <div class="row">
                <aside class="col-md-4">
                    <div class="logo">
                        <img src="/images/logo.png" alt=""/>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat hic ipsa laudantium minima
                            perferendis
                            quia quisquam repellendus sapiente soluta vero! Animi aspernatur, at aut beatae consequuntur
                            doloremque
                        </p>
                    </div>
                </aside>
                <aside id="text-3" class="col-md-4">
                    <h3>Plan de site</h3>
                    <div class="textwidget">
                        <ul>
                            <li><a href="/">Accueil</a></li>
                            <li><a href="/">Présentation</a></li>
                            <li><a href="/">Carthographie</a></li>
                        </ul>
                    </div>
                </aside>
                <aside class="col-md-4">
                    <h3>Contacts</h3>
                    <span>
                    <a class="email" href="mailto:admin@urbupdate.com">admin@urbupdate.tn</a>
                </span><br/>
                    <span>
                    <span class="tel">Appelez-nous: 11-800-123</span>
                </span>
                </aside>
            </div>
        </div>
    </div>
    <div id="footer" role="contentinfo">
        <div class="footer_border">
            <div class="footer_inner">
                <span class="footer_copyright copyright">2016 FST -- Votre nom</span></div>
        </div>
    </div>
</footer>