<footer th:fragment="footer">
    <div id="bottom">
        <div class="container">
            <div class="row">
                <aside class="col-md-4">
                    <div class="logo">
                        <img src="/images/logo.png" alt=""/>
                        <p>
                            Une plate forme au service des collectivités locales et du citoyen disposant de données urbaine
                            fiables,
                            indispensable au suivie de l’étalement urbain et à la mise en œuvre des nouvelles politiques de
                            planification et d’aménagement du territoire.
                        </p>
                    </div>
                </aside>
                <aside id="text-3" class="col-md-4">
                    <h3>Plan de site</h3>
                    <div class="textwidget">
                        <ul>
                            <li><a href="/">Accueil</a></li>
                            <li><a th:href="@{/presentation}">Présentation</a></li>
                            <li><a th:href="@{/urban}">L'étalement urbain</a></li>
                            <li><a th:href="@{/time}">Remonter le temps</a></li>
                            <li sec:authorize="isAuthenticated()"><a th:href="@{/map}">Cartographie</a></li>
                            <li sec:authorize="isAuthenticated()"><a th:href="@{/claims}">Réclamations </a></li>
                            <li><a th:href="@{/contact}">Contacts</a></li>
                        </ul>
                    </div>
                </aside>
                <aside class="col-md-4">
                    <h3>Contacts</h3>
                    <span>
                    <a class="email" href="mailto:admin@urbupdate.com">admin@urbupdate.tn</a>
                </span><br/>
                    <span>
                    <span class="tel">Appelez-nous: 11-800-123</span>
                </span>
                </aside>
            </div>
        </div>
    </div>
    <div id="footer" role="contentinfo">
        <div class="footer_border">
            <div class="footer_inner">
                <span class="footer_copyright copyright">2016 FST -- </span></div>
        </div>
    </div>
</footer>