<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>403</title>
    <link th:href="@{/css/all.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 page-access-denied">
            <div class="number-403">
                403
            </div>
            <div class="infos-403">
                Mr. ou Mm. <strong th:text="${loggedinuser}"></strong>,<br/>
                La page que vous cherchez n'existe pas.<br/>
                <a th:href="@{/logout}">Déconnecter</a><br/>
                <a th:href="@{/}">Retourner vers la page d'accueil</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>