<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<head>
    <link th:href="@{/css/layerslider.css}" type='text/css' media='all' rel='stylesheet'/>
</head>
<main layout:fragment="page">
    <div id="layerslider_1" class="ls-wp-container">
        <div class="ls-slide" data-ls=" transition2d: all;">
            <img th:src="@{/images/slide.jpg}" class="ls-bg" alt="home-bg-4-1"/>
            <p class="ls-l">
                <span class="ls-app-name">URBUPDATE</span><br/>
                Mettez à jour votre territoire.<br/>
            </p>
            <a sec:authorize="isAnonymous()" th:href="@{/login}" target="_self" class="ls-l btn btn-success">
                <p class="ls1-p">
                    <i class="fa fa-sign-in"></i> Se connecter
                </p>
            </a>
        </div>
    </div>
    <div class="container-fluid container-index">
        <div class="app-disc-group">
            <div data-wow-duration="2s" class="col-md-4 app-disc wow bounceInUp">
                <div class="img-circle">
                    <i class="fa fa-database"></i>
                </div>
                <p class="utility-center-text">
                    Un entrepôt de données pour le stockage.
                </p>
            </div>
            <div data-wow-duration="2s" class="col-md-4 app-disc wow bounceInUp">
                <div class="img-circle">
                    <i class="fa fa-dashboard"></i>
                </div>
                <p class="utility-center-text">
                    Une plateforme pour la préparation et la publication des données.
                </p>
            </div>
            <div data-wow-duration="2s" class="col-md-4 app-disc wow bounceInRight">
                <div class="img-circle">
                    <i class="fa fa-map"></i>
                </div>
                <p class="utility-center-text">
                    Un géoservices pour la visualisation, le traitement et la mise à jour
                    des données.
                </p>
            </div>
        </div>
        <div data-wow-duration="2s" class="app-disc-group primary-bg wow pulse">
            <div class="app-disc">
                <h3 class="utility-center-text">URBUPDATE</h3>
                <p class="utility-center-text">
                    Une plate forme au service des collectivités locales et du citoyen disposant de données urbaine
                    fiables,
                    indispensable au suivie de l’étalement urbain et à la mise en œuvre des nouvelles politiques de
                    planification et d’aménagement du territoire. </p>
            </div>
        </div>
        <div class="">
            <div class="carte-img">
                <div data-wow-duration="5s" class="app-mobile-logo wow fadeInLeft">
                    <img th:src="@{/images/phone-black.png}"/>
                </div>
                <div data-wow-duration="5s" class="app-description wow fadeInRight">
                    <h1><span>A propos de </span>URBUPDATE</h1>
                    <p>
                        C’est une application SIG web favorisant l’accès aux données pour le citoyen dans le but de
                        coproduire une base de données remise à jour en permanence qui suit le rythme de l’étalement
                        urbain
                        dont l’objectif est de contrecarré un tel processus long, complexe et évolutif qui se produit
                        dans
                        le cadre de plusieurs systèmes en interaction : social, spatial, économique et politique.
                    </p>
                    <p>
                        Elle permet de visualiser les données géographiques numériques (représentations des bâtiments,
                        hydrographie, altitude, réseau viaire, limites administratives, noms de lieux, etc.) mais
                        également
                        de nombreuses données publiques (occupation du sol, taches urbaines de différentes dates…).
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block layout:fragment="script">
    <script type='text/javascript' th:src="@{/js/jquery.js}"></script>
    <script type='text/javascript' th:src="@{/js/greensock.js}"></script>
    <script type='text/javascript' th:src="@{/js/layerslider.kreaturamedia.jquery.js}"></script>
    <script type='text/javascript' th:src="@{/js/layerslider.transitions.js}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            if (typeof jQuery.fn.layerSlider === "undefined") {
                lsShowNotice('layerslider_1', 'jquery');
            } else {
                jQuery("#layerslider_1").layerSlider({hideOnMobile: true, hideUnder: 767, skinsPath: ''});
            }
        });
    </script>
</th:block>
</html>